/target/
/maps/
/minimap_shots/
/tmp/
/models/
/third_party/
*.pdb
/driver/vmulti/VMulti.Driver

/runs/detect/yolo_nangang_e*
/runs/detect/yolo_rust*

__pycache__/
*.pyc


atlases_from_game
parts_from_game
**/generated/
